# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://fxyyxtaeqzkxlazeoyqw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ4eXl4dGFlcXpreGxhemVveXF3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU0Mjg4ODIsImV4cCI6MjA5MTAwNDg4Mn0.-emcToXn-pAh1yf_FcHVqUy9yV0Tka_VgLcEGtpg6Pk

# Mercado Libre OAuth
ML_CLIENT_ID=497265314413017
ML_CLIENT_SECRET=pPDlNcXEMKzcFHUGv859ojBG2iOTcvck
ML_REDIRECT_URI=https://TU-SITIO.netlify.app/api/auth/ml/callback
NEXT_PUBLIC_ML_CLIENT_ID=497265314413017
ML_ACCESS_TOKEN=APP_USR-497265314413017-041402-d6bc92db31363da8bd7da27147eb08cf-2671750401

# RapidAPI
RAPIDAPI_KEY=27e5642c7fmsh1bbafb0dfe3f8a7p1fbfb6jsn815cdac3a644
ALIEXPRESS_API_HOST=aliexpress-datahub.p.rapidapi.com
AMAZON_API_HOST=real-time-amazon-data.p.rapidapi.co

# IMPORTANTE: Reemplaza TU-SITIO con el nombre de tu sitio en Netlify
# Ejemplo: https://mi-tienda-dropshipping.netlify.app/api/auth/ml/callback
